-# product_parameter
%li.cast
  .picture
    = product_parameter_picto(product_parameter)
  .details
    = product_parameter_name_link(product_parameter)
    %p= product_parameter.product_nature&.name || product_parameter.product_nature_variant&.name
    %p= "#{:quantity.tl} : #{product_parameter.quantity_with_unit}" if product_parameter.unit
